.review {
    padding: 20px;
    width: 100%;
}
.review-title {
    font-size: 1.2em;
}

.review-ratings > div{
    display: inline;
    margin-right: 15px;
}

.review-user {
    text-decoration: underline rgb(1, 1, 1);
}