<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav>
    <div>
      <a href="/" class="navbar-logo"><span>PlagueScore</span></a>

    </div>
      <!--
        <a href="/businesses/new">New Business</a>
        <a href="/">Home</a>
        <a href="/businesses">Businesses</a>
      -->
      <div class="navbar-right">
        <form action="/businesses/search" method="get" class="navbar-search">
          <input type="text" id="title" name="title"></input><button><i class="fas fa-search"></i></button>
        </form>
        <% if(!currentUser) {%>
          <a href="/login">Login</a>
          <a href="/register">Sign-up</a>
        <% } else {%>
            <% if(currentUser.userIcon) {%>
              <div class="profile-hover">
                <a href="/profile" class="profile-icon"><span class="profile-icon"><img src="/assets/userIcons/<%=currentUser.userIcon%>"></span></a>
              </div>
            <% }  else {%>
              <div class="profile-hover">
                <a href="/profile" class="profile-icon"><span class="profile-icon"><img src="/assets/user.svg%>"></span></a>
              </div>
            <% } %>
        <% } %>  
      </div>
</nav>