<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PlagueScore</title>
	<!-- Font Awesome for Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic&display=swap" rel="stylesheet"> 
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Castoro&display=swap" rel="stylesheet"> 
	<!-- Bootstrap -->
	<!-- Framework CSS for default styles-->
	<link rel="stylesheet" href="/stylesheets/framework.css" />
</head>
	<!-- Vue JS for fancy tidbits-->
	<script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
	<!-- Axios Requests -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<body class="d-flex flex-column vh-100">
	<%- include('../partials/navbar')%>
	<main class="container mt-5">
	<%- include('../partials/flash') %>
	<%- body %>
	</main>
	<%- include('../partials/footer')%>
	</body>

</html>