<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Font Awesome for Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic&display=swap" rel="stylesheet"> 
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	
	<link rel="stylesheet" href="stylesheets/framework.css" />
	<link rel="stylesheet" href="stylesheets/landing.css" />
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
	<title>Home</title>
</head>
	
	<body>
		<%- include('partials/navbar') %>
		<header class="landing-header">
			<h1>PlagueScore</h1>
			<form action="/businesses/search" method="get">
				<input type="text" id="title" name="title"></input><button class="splash-button"><i class="fas fa-search"></i></button>
			</form>
		</header>
		<h3>Top Comment</h3>	
	</body>
</html>