button {
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(122, 230, 224);
    background-color: rgb(245, 252, 255);
    padding: 6px;
    margin: 6px;
}

input {
    border-radius: 6px;
    border-color: rgb(159, 208, 236);
    border-style: solid;
}

input:focus {
    /* can't get rid of weird changes on focus this is attempt to stop */
    outline: none;
    border-radius: 6px;
    border-color: rgb(159, 208, 236);
    border-style: solid;
    background-color: rgb(233, 241, 232);
}