.card {
    position: relative;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    box-shadow: rgb(231, 231, 231) 0 0 4px;
    border-radius: var(--card-border-radius);
    border: var(--card-border);

    font-size: 1.2em;
    background-color: var(--review-background);
    transition: box-shadow 0.2s;
    transition: transform 0.3s;
}

.card:hover {
    transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    box-shadow: rgb(209, 209, 209) 0 0 4px;
}