.business-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media only screen and (max-width: 800px) {
    .business-container {
       display: flex;
       flex-direction: column;
    }
    .container {
        padding: 10px;
    }
}

.business-title {
    grid-column: 1/-1;
    font-size: 3em;
    padding: 0.2em;
    padding-left: 0px;
}

.business-info {
    grid-column: 1/-1;
}

.business-ratings {
    grid-column: span 1d;
}
.business-description    {
    grid-column: span 5;
}
.business-actions {
    background-color: var(--neutral);
    filter: brightness(120%);
    padding: 0.2em;
    border-radius: 4px;
    margin: 5px;
}
.review {
    margin: 10px;
    align-self: center;
    height: 90%;
    grid-column: span 3;
}

.info .starability-result {
    display: inline-block;
}