/* Website Colors */
/* https://coolors.co/0d3b66-ee964b-7a7d7d-f1f2f6-0fa3b1 */
:root {
    --primary-lightest: #d1e8fd;
    --primary-lighter: #357fc4;
    --primary: #0D3B66;
    --primary-darker: #031f38;
    --secondary-lighter: #ffffff;
    --secondary: #0fa3b1;
    --secondary-darker: #b95a06;
    --text-dark: #373838;
    --text-light: #dce0e0;
    --neutral: #c9c9c9;
    --card-border-radius: 6px;
}

body {
    font-size: 1.2em;
    color: var(--text);
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}

footer {
    /* Positions items inside the footer*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* Places the footer at the bottom of the page and adds padding*/
    padding: 20px;
    margin-bottom:0;
    margin-top: auto;
    background-color: var(--primary);
    color: var(--text-light); 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
}

.card {
    border-color: var(--neutral) !important;
    box-shadow: 0 0 2px var(--neutral);
}