nav {
    /* Have to use em units or it will break */
    --nav-scale: 0.8em;
    --nav-height: 0.7em;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--nav-height) 1em;
    font-size: var(--nav-scale);
    font-family: Quicksand, sans;
}


nav a {
    color: var(--text-light);
    text-decoration: none;
    margin: auto 0.8em auto 0.8em;
    transition: filter 0.1s;
}

nav a:hover {
    color: var(--text-light);
    filter: brightness(0.8);
}
.navbar-right {
    display:flex;
    align-items:center;
    justify-content: space-between;
    min-width: 280px;
}
.navbar-logo {
    font-size: 1.6em;
}

.navbar-search {
    display:inline;
}
.navbar-search input {
    height: 40px;
    font-size: 0.8em;
    border-radius: 3px 0 0 3px;
    padding: 0px;
    border:none;
}
.navbar-search button {
    background-color: var(--primary-lighter);
    color: var(--text-light);
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    height: 40px;
    width: 40px;
    border-radius: 0 3px 3px 0;
    border:none;
}
.profile-icon {
    margin:0px;
}
.profile-icon span {
    display:inline-block;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;;
}
.profile-icon img{
    width: 30px;
}

@media only screen and (max-width: 800px) {
    nav {flex-direction: column; justify-content: center;}
    nav div {display: flex; flex-direction: column;justify-content: center;align-items: center;}
}