#results-page {
    width: 100%;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px, 100px);
}

.results-header {
    grid-column: 1/-1;
    font-size: 1.8em;
    padding: 10px;
}
.leaflet-container {
    /* Sizing */
    width: 90%;
    overflow: hidden;
    /* Grid Alignment */
    justify-self: center;
    grid-row: 2/6;
    grid-column: 2/-1;
    /* Styling */
    border-radius: 10px;
    border: solid 2px var(--neutral);
    box-shadow: 0 0 6px var(--neutral);
}

@media only screen and (max-width: 800px) {
    #results-page {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .leaflet-container {
        /* Sizing */
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }
}