body {
    margin: 0;
}

.landing {
    text-align: center;
    background: #ffffff;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.landing-logo {
    height: 40vmin;
}

.landing-header {
    background-color: #ffffff;
    min-height: 80vh;
    font-size: calc(10px + 2vmin);
}

.landing-link {
    color: #09d3ac;
}
