.nav-logo {
    justify-self: flex-start;
    height: 50px;
    width: 50px;
    padding: 10%;
}

.nav-link {
    background-color: #6ee2f1;
    color: rgb(250, 250, 250);
    transition: background-color 0.5s;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;  
}

.nav-link:hover {
    background-color: #7bd4e4;
    color: rgb(250, 250, 250);
}
.nav-search {
    display: inline-block;
    margin: 15px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
    width: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

input {
    height: 38px;
    font-size: 1.2rem;
}